# ==============================================================================
# Nexvion Ansible Inventory Example Template
# Copy this file to inventory/hosts.ini for local execution.
# DO NOT COMMIT YOUR REAL PRIVATE KEY OR PRODUCTION INVENTORY TO GIT.
# ==============================================================================

[nexvion_servers]
nexvion-ec2-staging ansible_host=52.66.25.69 ansible_user=ubuntu ansible_ssh_private_key_file=~/.ssh/Nexvion.pem

[nexvion_servers:vars]
ansible_python_interpreter=/usr/bin/python3
